/* FONT */
/* <!-- font - 한글 폰트는 아쉽게도 글자 수가 많아 용량이 커지기 때문에 웹폰트 도입이 활발하진 않다고 한다. 그래서 토스팀도 자체 개발한 폰트를 @font-face를 이용해 적용하는 것 같다. --> */

@font-face {
  font-family: 'TossProductSans';
  src: url('https://static.toss.im/fonts/toss-product-sans/TossProductSans07Heavy.woff') format('woff'), url('https://static.toss.im/fonts/toss-product-sans/TossProductSans07Heavy.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'TossProductSans';
  src: url('https://static.toss.im/fonts/toss-product-sans/TossProductSans07Heavy.woff') format('woff'), url('https://static.toss.im/fonts/toss-product-sans/TossProductSans07Heavy.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'TossProductSans';
  src: url('https://static.toss.im/fonts/toss-product-sans/TossProductSans06ExtraBold.woff') format('woff'), url('https://static.toss.im/fonts/toss-product-sans/TossProductSans06ExtraBold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'TossProductSans';
  src: url('https://static.toss.im/fonts/toss-product-sans/TossProductSans05Bold.woff') format('woff'), url('https://static.toss.im/fonts/toss-product-sans/TossProductSans05Bold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'TossProductSans';
  src: url('https://static.toss.im/fonts/toss-product-sans/TossProductSans04SemiBold.woff') format('woff'), url('https://static.toss.im/fonts/toss-product-sans/TossProductSans04SemiBold.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'TossProductSans';
  src: url('https://static.toss.im/fonts/toss-product-sans/TossProductSans03Medium.woff') format('woff'), url('https://static.toss.im/fonts/toss-product-sans/TossProductSans03Medium.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'TossProductSans';
  src: url('https://static.toss.im/fonts/toss-product-sans/TossProductSans02Regular.woff') format('woff'), url('https://static.toss.im/fonts/toss-product-sans/TossProductSans02Regular.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'TossProductSans';
  src: url('https://static.toss.im/fonts/toss-product-sans/TossProductSans01Light.woff') format('woff'), url('https://static.toss.im/fonts/toss-product-sans/TossProductSans01Light.ttf') format('truetype');
  font-weight: 200;
}


/* material-icons */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* COMMON */

body {
  font-family: 'TossProductSans', -apple-system, BlinkMacSystemFont, Lato, Roboto, 'Segoe UI', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
div {
  word-break: keep-all;
}









body {
  /* 어두운 회색 */
  color: #333;
  font-size: 16px;
  font-weight: 400;
  /* 행간 1.4배 */
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  /* 제거하기 */
  height: 6000px;
  /* 가려서 보이지 않는 부분 처리 */
  /* padding-top: 56px; */
  /* position: relative; */
  font-family: 'TossProductSans',"Gill Sans", sans-serif;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.inner {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}



/* HEADER */
header {
  /* background-color: red; */
  background-color: transparent;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* backdrop-filter: blur(20px); */
  z-index: 2;
}

header.filter {
  backdrop-filter: blur(20px);
}

header.bg--white {
  background-color: #fff;
  border-bottom: 1px solid #333;
}

header .inner {
  height: 100%;
}

header .logo {
  height: 100px;
  width: 200px;
  border: red;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
 
}

header .logo img {
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  
}

header .logo img.invisible{
  display: none;
}

header .inner .menu {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .inner .menu li {
  margin-right: 40px;
  cursor: pointer;
}

header .inner .menu li a {
  color: #fff;
}

header .inner .menu li a.bg--white {
  color: #121417;
}


/* 배경이미지 1 */
.first-container {
  background-image: url(/images/kv-1.jpg);
  background-repeat: no-repeat;
  height: calc(100vh + 1px);
  /* 뷰포트에 무조건 꽉차게 이미지 사이즈를 넣 */
  background-size: cover;
}

.main-text-container {
  width: 100%;
  ;
  position: absolute;
  bottom: 280px;
  box-sizing: border-box;
}

.main-text {
  margin: auto;
  text-align: center;
  font-size: 72px;
  color: #fff;
}

.down-btn {
  /* background-color: red; */
  position: absolute;
  bottom: 120px;
  right: calc((100% - 28px)/2);
}

.down-btn img {
  width: 28px;
  cursor: pointer;
  animation-name: up-down;
  animation-delay: .3s;
  animation-duration: 1s;
  /* 에니메이션 계속 반복하기 */
  animation-iteration-count: infinite;
  /* 에니메이션이 끝이 났을 때 반대 방향으로 움직이게 하는 속성 */
  animation-direction: alternate;
}

@keyframes up-down {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    /* 밑으로 20px 만큼 가고 투명하게 바뀌기 */
    transform: translate(0, 20px);
    opacity: 0;
  }
}


/*performance*/
.second-container {
  height: calc(110vh);
  background-color: rgb(18, 20, 23);
  position: relative;
}
.second-container .chart__cover {
  background: linear-gradient(45deg, rgba(40, 44, 52,1), rgba(40, 44, 52,.1) 70.7%),
              linear-gradient(360deg, rgba(40, 44, 52,1), rgba(40, 44, 52,.1) 70.7%);
  /* background: linear-gradient(45deg,rgba(40, 44, 52,.8),rgba(40, 44, 52,.2),70%);
              linear-gradient(360deg,rgba(40, 44, 52,.8),rgba(40, 44, 52,.2),70%); */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.second-container #myChart {
  height: 60%;
  position: absolute;
  bottom:0;
  /* top: 20px; */
  overflow: hidden;
}
.second-container .textgroup {
  /* border: 10px solid #B0B8C1; */
  width: 960px;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: calc(960px/-2);
}
.second-container .textgroup__title {
  /* background-color: rosybrown; */
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 38px;
  margin-bottom: 25px;
}

.second-container .textgroup__description {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.second-container .textgroup__description .description__text1,
.second-container .textgroup__description .description__text2,
.second-container .textgroup__description .description__text3,
.second-container .textgroup__description .description__text4 {
  width: 400px;
}

.second-container .textgroup__description .description__text1 .text1__title,
.second-container .textgroup__description .description__text2 .text2__title,
.second-container .textgroup__description .description__text3 .text3__title,
.second-container .textgroup__description .description__text4 .text4__title {
  /* background-color: royalblue; */
  color: #B0B8C1;
  font-size: 21px;
}

.second-container .textgroup__description .description__text1 .text1__num,
.second-container .textgroup__description .description__text2 .text2__num,
.second-container .textgroup__description .description__text3 .text3__num,
.second-container .textgroup__description .description__text4 .text4__num {
  /* background-color: red; */
  color: #fff;
  font-size: 64px;
  margin-bottom: 20px;
}

.second-container .textgroup__description .description__text5 {
  color: #B0B8C1;
  height: 20px;
  width: 100%;
  font-size: 14px;

}


/* Team Mission */

.team-mission {
  height: 140vh;
  background-image: url(../images/kv-2.jpg/);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-mission .textbox{
  width: 788px;
  height: 406px;
  padding: 60px 92px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(26, 30, 36, 0.65);
  border-radius: 10px;
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-mission .textbox .textbox__text{
  width: 604;

}
.team-mission .textbox__text .text__title{
  
  font-size: 30px;
  line-height: 43.5px;
  color: #b0b8c1;
  margin-bottom: 20px ;

}
.team-mission .textbox__text .text__description{
  font-weight: bold;
  font-size: 30px;
  line-height: 43.5px;
  color: #fff;
  text-align: center;
}


/* HISTORY */

.history {
  height: 120vh;
  background-color: #121417;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0s;
  position: relative;
  padding: 150px 0;
}
.history .history__title {
  color: #fff;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.45em;
  text-align: center;
  margin-bottom: 82px;
  position: absolute;
  top : 50px;
}
.history .history__timeline {
  width: 500px;
  /* background-color: greenyellow; */
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 250px;

}
/* .history .history__timeline .timeline {
  
} */
.history .history__timeline .timeline li {
  width: 500px;
  height: 72px;
  /* border: 1px solid blue; */
  border-left: 4px solid rgb(51,61,75);
  /* border-bottom: 1px solid; */
}

.history .history__timeline .timeline li::before{
  content: attr(data-year);
  font-size: 20px;
  font-weight: bold;
  width: 40px;
  padding: 3px;
  /* background-color: aqua; */
  text-align: center;
  color: rgb(51,61,75);
  position: relative;
  top: -16px;
  left: -80px;
  cursor: pointer;
}

.history .history__timeline .timeline li.active::before{
  color:#fff;
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.history .history__timeline .timeline li::after{
  content :"";
  width: 12px;
  height: 12px;
  /* ::after은 인라인요소 */
  display: block;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(51,61,75);
  position: relative;
  top: -34px;
  right: 8px;


}


.history .history__timeline .timeline li.active::after{
  background: rgb(25, 31, 40);
  /* border: 4px solid rgb(51,61,75);  */
  box-shadow: rgb(255 255 255) 0px 0px 0px 4px;
  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.history .timeline__items {
  width: 500px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 50px;
  position: absolute;
  top: -12px;
}

.history .timeline__items li {
  width: 100%;
  /* height: 72px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* transform: translateY(0px);
  opacity: 1; */
  animation-name: down-up;
  animation-delay: .3s;
  animation-duration: 1s;
  /* https://codepen.io/heropark/pen/PKQbQM */
  animation-fill-mode: both;
}

.history .timeline__items li h3{
  color:#B0B8C1;
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom :10px;
}
.history .timeline__items li h4{
  color: #fff;
  font-size: 17px;
  display: block;
  margin-bottom: 25px;
  /* 줄바꿈이 안되었는데 pre-wrap으로 설정해주니까 줄바꿈된다!!! 왜지? 몰라 그냥 좋다 */
  white-space: pre-wrap;
}

@keyframes  down-up {
  0% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0px);
    opacity: 1;
  }
}

/* CARD */
.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  padding: 175px 0;
  background-color: #ffffff;
}

.card__container .cards__title {
  margin-bottom: 13px;
  font-size: 52px;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.4em;
  color: #191f28;
  text-align: center;
  letter-spacing: normal;
}

.card__container .cards__title__sub {
  margin-bottom: 42px;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.45em;
  color: #4e5968;
  text-align: center;
  letter-spacing: normal;
}

.card__container .cards__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
   /* 1을 주면 이미지가 보임 */
   z-index: 1;
}

.card__container .cards__box .card {
  width: 458px;
  height: 523px;
  margin: 14px 0;
  background-color: transparent;
}

.card__container .cards__box .card .card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 32px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: transparent;
}

.card .card__imagebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 16px;
  background-color: #17171c;
 
}
.card:nth-child(1) .card__imagebox{ background-image: url(https://static.toss.im/assets/homepage/team/team-1core.jpg);}
.card:nth-child(2) .card__imagebox{ background-image: url(https://static.toss.im/assets/homepage/team/team-2securities.jpg);}
.card:nth-child(3) .card__imagebox{ background-image:url(https://static.toss.im/assets/homepage/team/team-3payments.jpg);}
.card:nth-child(4) .card__imagebox{ background-image: url(https://static.toss.im/assets/homepage/team/team-4insu.jpg);}
.card:nth-child(5) .card__imagebox{ background-image: url(https://static.toss.im/assets/homepage/team/team-5bank.jpg);}
.card:nth-child(6) .card__imagebox{ background-image: url(https://static.toss.im/assets/homepage/team/team-6cx.jpg);}
.card .card__top {
  height: 24px;
  margin: 0 0 8px 0;
  overflow-y: hidden;
  font-size: 15px;
  line-height: 24px;
  color: #4e5968;
  opacity: 1;
  transition: opacity 0.3s ease, height 0.3s ease;
}

.card .card__title {
  margin: 0 0 20px 0;
  font-size: 32px;
  font-weight: bold;
  line-height: 41px;
  color: #333d4b;
  transition: font-size 0.3s ease, line-height 0.3s ease;
}

.card .card__add-icon {
  height: 24px;
  transition: height 0.3s ease,opacity 0.3s ease;

}

.card .card__body {
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  color: #333d4b;
  letter-spacing: -0.1px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card .card__link{
  margin-top: 24px;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: #3182f6;
  opacity: 0;
  transition: font-size 0.3s ease, line-height 0.3s ease;
}
.card a {
  color: #007bff;
  text-decoration: none;
}

.card .card__close {
  position: absolute;
    bottom: 0;
    left: 0;
    padding: 35px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* card item--focus */
.card.item--focus .card__imagebox{
  filter: blur(30px);
  transform: scale(1.2);
}
.card.item--focus .card__top{
  height: 0px;
  opacity: 0;
}
.card.item--focus .card__title{
  margin: 0 0 15px 0;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.35em;
  color: #333d4b;
  white-space: pre-line;
  transition: font-size 0.3s ease, line-height 0.3s ease;
}
.card.item--focus .card__add-icon{
  height: 0px;
  opacity: 0;

}
.card.item--focus .card__body,
.card.item--focus .card__link{
  display: block;
  opacity: 1;
}
.card.item--focus .card__close{
  opacity: 1;
}

/* PARTNERSHIP */

.partnership{
  padding: 175px 0;
  background-color: #F9FAFB;
  display: flex;
  justify-content: center;
}

.partnership .partnership__contianer{
  width: 850px;
}
.partnership .partnership__contianer.view{
  animation-name: up;
  animation-duration: 2s;
}


@keyframes up {
  0%{
    transform: translateY(10px); 
    opacity: 0;
  }
  100%{
    transform: translateY(0px); 
    opacity: 1;
  }
}


.partnership .partnership__contianer .partnership__title{
  text-align: center;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.35em;
  color: #191f28;
  width: 100%;
  margin-bottom: 68px;

}
.partnership .partnership__contianer .partnership__items{
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

.partnership .partnership__contianer .partnership__items img{
  height: 102px;
  width: 210px;
}


/* NEWS */
.news {
  padding: 122px 0px 138px;
  display: flex;
  justify-content: center;
}
.news .news__container{
  width: 960px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.news .news__container .news__titles {
  width: 100%;
  text-align: left;
  margin-bottom: 68px;
  display: flex;
  
}
.news .news__container .news__titles .titles__title{
  font-size: 46px;
  font-weight: 700;
  margin-right: 38px;
  color: #121417;
  /* background-color: red; */
}



.news .news__container .news__titles .titles__years{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  color: #4e5968;
  position: relative;
}

.news .news__container .news__titles .titles__years .years__box{
  background-color: #B0B8C1;
  width: 76px;
  height: 50px;
  border-radius: 20px;
  position:absolute;
  left: 17px ;
}
.news .news__container .news__titles .titles__years .years__year{
  width: 76px;
  height: 44px;
  padding: 10px 18px;
  position: relative;
  display: flex;
  justify-content: center;
}

.news .news__container .news__titles .titles__years .years__year::before{
  content: attr(data-years);
  font-size: 17px;
  font-weight: 700;
  color: #121417;
  padding: 10px 18px;

}

.news .news__container .news__items{
  
}
.news .news__container .news__items .items__item{
  position:relative;
  padding: 44px 2px;
  font-weight: 700;
  cursor: pointer;
  border-bottom: 1px solid rgba(69, 79, 93, 0.07);
  transition: all 0.35s ease 0s;
}
.news .news__container .news__items .items__item:hover{
  transform: scale(1.05);
}
.news .news__container .news__items .items__item::after{
  font-family: 'Material Icons';
  content: "arrow_forward";
  color: rgb(51, 61, 75);
  font-size: 24px;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 26px;
  height: 22px;
  margin-top: -11px;
  opacity:0.1;
  transition: all 0.5s ease 0s;
}
.news .news__container .news__items .items__item:hover::after{
  opacity:1;
}
.news .news__container .news__items .item__src{
  display: flex;
}
.news .news__container .news__items .item__src .src__name{
  font-size: 14px;
  line-height: 1.3em;
  font-style: normal;
  line-height: 18px;
  color: #3182f6;
}
.news .news__container .news__items .item__src .src__date{
  font-size: 14px;
  margin-left: 10px;
  font-weight: 400;
  color: #b0b8c1;
}
.news .news__container .news__items .item__title{
 

}
.news .news__container .news__items .item__title a{
  margin-top: 14px;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.4em;
  color: rgb(51, 61, 75);
  word-break: keep-all;
  transition: all 0.2s ease 0s;
}



/* FOOTER */
.footer__container {
  background-color: #f9fafb;
  padding: 50px 0 100px;
}

.footer__container a {
  text-decoration: none;
  color: #6b7684;
}

.footer__container a:hover {
  text-decoration: underline !important;
  cursor: pointer;
  color: #0056b3 !important;
}

.footer__container .footer__inner {
  max-width: 1064px;
  margin: auto;
  padding: 0 67px;
  box-sizing: border-box;
}

.footer__container .site-group-list {
  display: flex;
  padding-bottom: 50px;
}

.footer__container .site-group-list .site-group {
  width: 270px;
  margin: 0;
  padding: 0;
  color: #6b7684;
  list-style: none;
  font-size: 15px;
  line-height: 30px;
  box-sizing: border-box;
}
.footer__container .site-group-list .site-group-title {
  padding-bottom: 5px;
  color: #333d4b;
  font-weight: 700;
}

.footer__container .site-group-list .site-group-item>a {
  display: block;
  text-decoration: none;
  color: #6b7684;
}

.footer__container .address {
  color: #8b95a1;
  font-size: 13px;
  font-style: normal;
  line-height: 20px;
  white-space: pre-wrap;
}

.footer__container .address .address__company-name {
  display: block;
  padding-bottom: 16px;
  color: #333d4b;
  font-size: 15px;
}

.footer__container .term-list {
  display: flex;
  margin: 0;
  padding: 24px 0 30px;
  list-style: none;
}

.footer__container .term-list .term {
  padding-right: 30px;
}

.footer__container .term-list .term>a {
  color: #6b7684;
  font-size: 13px;
  line-height: 18px;
}

.footer__container .social-list {
  display: flex;
  padding: 0;
  list-style: none;
}

.footer__container .social-list .social-list-item {
  margin-right: 8px;
}

.footer__container .social-list .social-list-item>a {
  cursor: pointer;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: opacity .2s ease;
  opacity: .7;
}

.footer__container .social-list .social-list-item>a:hover {
  opacity: 1;
}
